<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Fake Profile Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1 style="text-align: center;">About This Project</h1>
        <p style="font-size: 27px;">Our mission is to combat the proliferation of fake profiles across online platforms.  Through innovative algorithms and cutting-edge technology, we aim to provide reliable solutions for identifying and eliminating fraudulent accounts. With a team dedicated to staying ahead of emerging threats, we strive to create a safer digital environment for users worldwide."</p>
    </div>
</body>
</html>




